tag-list {
  ul {
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0;
    li {
      display: inline-block;
      padding: 2px 4px 4px 4px;
      font-size: 0.8em;
      color: #fff;
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  @each $tag, $value in auxiliary-categories() {
    .tag[tag=#{$tag}] {
      background: $value;
    }
  }
}

