.about-header {
  background-color: #fafafa;
  width: 100%;
  min-height: 75px;
  text-align: center;
}

.about-header img {
  max-height: 75px;
}

.about-info {
  p {
    color: #444;
    text-align: left;
    font-size: 15px;
    line-height: 18px;
  }

  ion-list {
    margin-bottom: 0;
  }

  ion-icon {
    color: color($colors, primary);
    width: 20px;
  }

}

.about-info-full {
  background-color: #fafafa;;
}

.about-info
.md,
.wp {
  .about-info [text-right] {
    margin-right: 0;
  }
}

.ios .about-info {
  text-align: center;
}

.ios .about-info ion-icon {
  width: auto;
  margin-right: 10px;
}
