session-info {
  table {
    padding: 0;
    margin: 0;
    tr {
      td, th {
        padding: 2px;
      }
      th {
        text-align: left;
        padding-right: 10px;
      }
    }
  }

  .tag {
    font-size: 1em;
  }
}
