page-schedule-filter {

  .reset-filters {
    color: color($colors, danger);
  }

  ion-list {
    margin: 5px 0;
  }

  @each $tag, $value in auxiliary-categories() {

    ion-item[tag=#{$tag}] .dot {
      height: 10px;
      display: inline-block;
      width: 10px;
      background-color: $value;
      border-radius: 5px;
      margin-right: 10px;
    }

  }

}
