page-speaker-list {

  ion-card.speaker {

    ion-card-header,
    ion-card-content,
    ion-card-content .list ion-item-content {
      padding: 0;
    }

    ion-card-header {
      .item {
        padding: 12px;
      }
      h3 {
        font-size: 1.7rem;
      }
    }

    ion-card-content .list {
      margin: 0;
    }

    ion-card-content p {
      padding: 0 16px 16px 16px;
    }

  }

}
