<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Speakers</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content speaker-list">

  <ion-card *ngFor="let speaker of speakers$ | async" class="speaker">

    <ion-card-header>
      <ion-item>
        <ion-avatar item-left>
          <img [src]="speaker.avatar">
        </ion-avatar>
        <h3>{{speaker.firstname}} {{speaker.name}}</h3>
      </ion-item>
    </ion-card-header>

    <ion-card-content class="outer-content">
      <p>
        {{speaker.description}}
      </p>
      <ion-list>
        <!--
        <button ion-item *ngFor="let session of speaker.sessions" (click)="goToSessionDetail(session)">
          <h3>{{session.title}}</h3>
        </button>
        -->
        <button ion-item (click)="goToSpeakerDetail(speaker)">
          <h3>Read more about {{speaker.firstname}} {{speaker.name}}</h3>
        </button>
      </ion-list>
    </ion-card-content>

    <ion-item>
      <button ion-button icon-left (click)="goToSpeakerTwitter(speaker)" clear item-left>
        <ion-icon name="logo-twitter"></ion-icon>
        Tweet
      </button>
      <button ion-button icon-left (click)="openSpeakerShare(speaker)" clear item-right>
        <ion-icon name="share"></ion-icon>
        Share
      </button>
    </ion-item>

  </ion-card>
</ion-content>
