.ngbutton {

  &.facebook {
    background: color($colors, facebook);
  }

  &.twitter {
    background: color($colors, twitter);
  }

  &.github {
    background: color($colors, github);
  }

  &.google {
    background: color($colors, google);
  }

}

.validation {
  margin-bottom: 0 !important;
  padding-left: 0 !important;
}

$tags: (
  keynote: color($colors, primary),
  angular: #AC282B,
  react: #8E8D93,
  tooling: #FE4C52,
  keynote: #FD8B2D,
  canvas: #FED035,
  sponsor: #69BB7B,
  food-and-drinks: #3BC7C4,
  security: #B16BE3,
  ceremony: #6600CC
);

@function auxiliary-categories() {
  @return map-remove($tags);
}
