<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="updateSchedule()"
                   placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card *ngIf="shownTags.length > 0" class="currentFilter">

    <ion-card-header>
      <strong>Current tag filters</strong> (<a href="" (click)="resetFilters($event)">clear</a>):
    </ion-card-header>

    <ion-card-content>
      <ul class="tags">
        <li *ngFor="let tag of shownTags" [attr.tag]="tag" class="tag">
          {{tag}}
        </li>
      </ul>
    </ion-card-content>

  </ion-card>

  <ion-list *ngIf="numberOfShownSessions !== 0">

    <ion-item-group *ngFor="let group of sessionGroups" [hidden]="group.hidden">

      <ion-item-divider sticky>
        {{group.startHour}}:00h
      </ion-item-divider>

      <ion-item-sliding *ngFor="let session of group.sessions" #slidingItem [attr.tag]="session.tags[0]" [hidden]="session.hidden">

        <ion-item (click)="goToSessionDetail(session)">
          <h3>{{session.title}}</h3>
          <p>
            {{session.startDate.format('HH:mm')}} &mdash;
            {{session.endDate.format('HH:mm')}}:
            {{session.room.name}}
          </p>

          <ul class="tags">
            <li *ngFor="let tag of session.tags" [attr.tag]="tag" class="tag">
              {{tag}}
            </li>
          </ul>

          <ion-icon name="bookmark" item-right color="primary" *ngIf="!session.favorited && segment ==='all'"></ion-icon>
          <ion-icon name="bookmark" item-right color="secondary" *ngIf="session.favorited && segment ==='all'"></ion-icon>

        </ion-item>

        <ion-item-options>
          <button ion-button color="favorite" (click)="addFavorite(slidingItem, session)" *ngIf="segment === 'all'">
            Favorite
          </button>
          <button ion-button color="danger" (click)="removeFavorite(slidingItem, session, 'Remove Favorite')" *ngIf="segment === 'favorites'">
            Remove
          </button>
        </ion-item-options>

      </ion-item-sliding>

    </ion-item-group>

  </ion-list>
  
  <ion-list-header *ngIf="numberOfShownSessions === 0">
      No Sessions Found
  </ion-list-header>


</ion-content>
