$tags: (
  ionic: color($colors, primary),
  angular: #AC282B,
  react: #8E8D93,
  tooling: #FE4C52,
  nativescript: #FD8B2D,
  design: #FED035,
  mobile: #69BB7B,
  food: #3BC7C4,
  security: #B16BE3,
  testing: #6600CC
);

@function auxiliary-categories() {
  @return map-remove($tags);
}

page-schedule {

  @each $tag, $value in auxiliary-categories() {

    ion-item-sliding[tag=#{$tag}] ion-label {
      border-left: 5px solid $value;
      padding-left: 10px;
    }

    .tag[tag=#{$tag}] {
      background: $value;
    }

  }

  ion-item-sliding ul {
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0;
    li {
      display: inline-block;
      padding: 2px 4px 4px 4px;
      font-size: 0.8em;
      margin-left: 5px;
      color: #fff;
      &:first-child {
        margin-left: 0;
      }
    }
  }

}
