<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!isAuthenticated">Schedule</ion-title>

    <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()" *ngIf="isAuthenticated">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="updateSchedule()"
                   placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content>

  <button margin ion-button full (click)="openLogin()" *ngIf="!isAuthenticated && !loading" color="secondary" class="dologin">
    <ion-icon item-left name="log-in"></ion-icon>&nbsp;&nbsp;&nbsp;
    Login to favorite & rate sessions!
  </button>

  <filter-card
     *ngIf="shownTags.length > 0"
     [tags]="shownTags"
     (reset)="resetFilters()">
  </filter-card>

  <session-list
    *ngIf="numberOfShownSessions !== 0 && !loading"
    [groups]="sessionGroups"
    [options]="segment === 'all'"
    (toggle)="toggleFavorite($event)"
    (details)="goToSessionDetail($event)">
  </session-list>

  <ion-list-header *ngIf="numberOfShownSessions === 0 && !loading">
    No Sessions Found
  </ion-list-header>

</ion-content>
