page-signup {

  ion-content {
    .header {
      background-color: #fafafa;;
      padding: 16px;
      width: 100%;
      min-height: 75px;
      text-align: center;

      img {
        max-width: 200px;
        max-height: 75px;
      }

    }

    form {
      ion-item {
        padding-left: 8px !important;
        padding-right: 8px !important;
      }
    }

    .info {

      &.full {
        background-color: #fafafa;;
      }

      p {
        color: #444;
        text-align: left;
        font-size: 15px;
        line-height: 18px;
      }

      ul {
        li {
          color: #444;
          font-size: 15px;
          line-height: 20px;
        }
      }

      ion-list {
        margin-bottom: 0;
      }

      ion-icon {
        color: color($colors, primary);
        width: 20px;
      }

    }

    .warning {
      ion-icon {
        color: color($colors, secondary);
      }
    }

    .info
    .md,
    .wp {
      .info [text-right] {
        margin-right: 0;
      }
    }

    .ios .info {
      text-align: center;

      ion-icon {
        width: auto;
        margin-right: 10px;
      }

    }
  }
}
